<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <img src="/assets/images/burger.png" alt="cheeseburger" height="300px" width="auto">
    <h1 class="display-4">EAT-DA-BURGER</h1>
    <p class="lead">GET READY FOR THE BEST BURGER OF YOUR LIFE!</p>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
  <div class="card text-center col-4">
    <div class="card-body">
      <h2 class="ready-to-eat card-title">READY TO EAT!</h2>
        <ul class="list-group text-left">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
        </ul>
    </div>
  </div>

  <div class="card text-center col-4">
    <div class="card-body">
      <h2 class="add-burger card-title">ADD A BURGER</h2>
        <form class="create-form">
          <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="name" placeholder="burger name">
          </div>
          <div class="form-group">
            <label for="devoured">Has This Been Devoured?</label><br>
            <input type="radio" name="devour" value="1" checked> Oh Yes!<br>
            <input type="radio" name="devour" value="0"> Not Yet!
          </div>
          <button type="submit" href="#" class="add-btn btn-dark btn-primary">Add Burger</button>
        </form>
    </div>  
  </div>


   <div class="card text-center col-4">
    <div class="card-body">
      <h2 class="card-title">DEVOURED BURGERS!</h2>
      <ul class="hidden list-group text-left">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

</div>




