<h1>EAT-DA-BURGER!</h1>

<h2>Burgers Ready to be Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>DEVOURED BURGERS!</h2>

<ul class="hidden">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Has This Been Devoured?</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Not Yet Devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>
