li {
  list-style: none;
}


.label {
  font-weight: bold;
}

/* .hidden {
  display: none;
} */

.hidden .change-devour{
  display: none
}

img {
  margin-left: -150px;
  position: absolute;
  margin-top: -85px
}

h1, p {
  margin-left: 15%
}

.btn{
  margin-right: 2px;
  margin-bottom: 2px
}