li {
  list-style: none;
  margin-top: 5px;
  /* margin-bottom: 5px */
}


.label {
  font-weight: bold;
}

.hidden .change-devour{
  display: none;
}

img {
  margin-left: -150px;
  position: absolute;
  margin-top: -85px
}

h1, p {
  margin-left: 15%
}


.btn-toolbar{
  float:right
}

.add-btn{
  float: center
}

.delete-burger{
  margin-left: 3px
}