<li>
	{{name}}

	<button type="button" class="btn btn-dark change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR IT!{{/if}}
	</button>



	<button type="button" class="btn btn-dark delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
